*{
    background-color: antiquewhite;
     font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
header{
    background-color: #333;
    justify-content: center;display: flex;
    align-items: center;
    border-radius: 18px;
    width: 70%;
    color: white;
    margin-left: 15%;
}
img{
    background-color: transparent;
    max-width: 100%;
    margin-left: -20%;
}
h1{
    background-color: transparent;
}
p{
    background-color: transparent;
}
.p1{
    margin-top: 130px;
    margin-left: -90px;
}
section{
    background-color: #333;
    width: 500px;
    border-radius: 18px;
    margin-left: 35%;
    
}
h2{
    background-color: transparent;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
}
.section-preparation-time{
    width: 500px;
    height: 150px;
}
li{
    color: white;
    background-color: transparent;
}
ol{
    background-color: transparent;
}
ul{
    background-color: transparent;
}
p{
    color: white;
}
span{
    background-color: transparent;
}